h1{
    text-align: center;
}

.email{
    font-family: inherit;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
}

.password{
    font-family: inherit;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    margin: 10px;
}

.botao{
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  width: 332px;
  font-family: inherit;
  color: #fff;
}

.a{
    margin: 10px;
}

.botao1{
    margin: 10px;
    background-color: rgb(19, 241, 19);
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #36a420;
    border-color: #36a420;
    font-family: inherit;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
}

body{
    background: #f0f2f5;
  min-width: 500px;

}

.login{
color: #1877f2;

}

